html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: #fff;
}

a {
    color: rgb(212, 42, 20);
}

ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

p {
    margin-bottom: 2rem;
}

/*div {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 30px;
}*/

.nete-logo {
    position: absolute;
    top: 2rem;
    left: 2.2rem;
    text-decoration: none;
    color: #fff;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.nete-logo img {
    height: 30px;
    margin-right: 2px;
}

.main-icon {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0;
    fill: #fff;
    /* width: 10rem; */
    height: 5.6rem;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    /* padding: 0.5rem 2rem; */
    width: 100%;
    /* background-color: rgba(0,0,0,0.25); */
    background: linear-gradient(45deg, rgba(212, 20, 90, 1) 0%, rgba(251, 177, 59, 1) 100%);
    color: #fff;
    font-weight: 700;
}

.nav-inner {
    padding: 0.5rem 2rem;
}

.nav-links {
    float: right;
}

nav a img {
    width: 2rem;
}

.nav-icon {
    width: 1.8rem;
    fill: #fff;
}

header {
    position: relative;
    padding: 4rem 2rem;
    height: 40vh;
    background: #000;
    /* background: rgb(249,139,107);
    background: linear-gradient(90deg, rgba(249,139,107,1) 0%, rgba(244,88,102,1) 100%); */

    /* background: linear-gradient(45deg, #4F00BC 0%, #29ABE2 100%); */
    /* background: linear-gradient(45deg, #ED1C24 0%, #FCEE21 100%); */
    background: linear-gradient(45deg, #D4145A 0%, #FBB03B 100%);
    text-align: center;
}

header .site-title,
header .sub-title {
    color: #fff;
}

.site-title {
    position: absolute;
    left: 0;
    bottom: 10vh;
    display: block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1em;
}

.sub-title {
    display: block;
    margin-top: 1rem;
    margin-left: 0.35rem;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1em;
}

@media only screen and (max-width: 1024px) {
    .sub-title {
        font-size: 6vw;
    }
}

.sub-header {
    margin-top: 0;
    font-size: 1.5em;
}

.callout {
    background-color: #6f0e1b;
    background: linear-gradient(45deg, #960849 0%, #ea6c2f 100%);
    /* padding: 1rem 2rem; */
    text-align: center;
}

.callout a {
    display: block;
    width: 100%;
    padding: 1rem 0;
    color: #fff;
    vertical-align: middle;
    text-decoration: none;

    transition: 0.3s;
}

.callout a:hover,
.callout a:focus {
    background-color: rgba(0,0,0,0.5);
    /* background-color: rgba(111, 14, 27, 0.5); */
}

.callout img {
    width: 30px;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.content-wrapper {
    padding: 2rem;
}

.content {
    /* padding: 2rem; */
    margin: 1rem auto 2rem;
    /* max-width: 45rem; */
    max-width: 52rem;
    clear: both;
}

@media only screen and (min-width: 1025px) {
    .content {
        max-width: calc(54rem + 300px);
    }
}

@media only screen and (max-width: 1300px) {
    .content {
        max-width: 54rem;
    }
}

@media only screen and (min-width: 1440px) {
    .content {
        width: calc(54rem + 400px);
        max-width: none;
    }
}

.content * {
    box-sizing: border-box;
}

.ernie-sketch {
    float: left;
    width: 200px;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.feature-image {
    float: left;
    width: 50%;
    margin: 1rem 1rem 1rem 0;

    max-width: 300px;
}

.feature-image img {
    display: block;
    width: 100%;
}

figcaption {
    margin-top: 1em;
    font-size: 12px;
    color: #555;
    text-align: left;
}

@media only screen and (min-width: 1025px) {
    .feature-image {
        max-width: 300px;
    }
}

@media only screen and (max-width: 1024px) {
    .feature-image {
        width: 100%;
    }
}

@media only screen and (max-width: 495px) {
    .feature-image {
        max-width: 100%;
    }
}

@media only screen and (min-width: 1440px) {
    .feature-image {
        max-width: 400px;
    }
}

aside {
    /* width: calc((100vw - 45rem) / 2); */
    width: 100%;
    max-width: 300px;
    /* padding-left: 20px; */
    float: right;
}

.sidebar-links {
    width: 100%;
    /* background-color: #D4145A; */
    /* background-color: #ffe1e1; */
    background-color: #f2f2f2;
    /* background: linear-gradient(45deg, #D4145A 0%, #FBB03B 100%);
    background: linear-gradient(45deg, #D4145A 0%, #ff7b66 100%); */
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.sidebar-links a {
    display: inline-block;
    margin-bottom: 0.5rem;
    vertical-align: middle;
    width: 100%;
    text-align: left;
    text-decoration: none;
    font-size: 1.25rem;
    color: #000;
    border-bottom: 4px solid #fff;
    padding: 0.5rem 0.5rem 0 0.5rem;
    transition: 0.3s;
    /* border-radius: 0.5rem; */
    /* border: 2px solid #fff; */
    /* background-color: #fff; */
    /* background: linear-gradient(45deg, rgba(255, 160, 124, 0.5) 0%, rgba(255, 215, 101, 0.5) 100%); */
}

.sidebar-links a:hover,
.sidebar-links a:focus {
    border-color: #FBB03B;
}

.sidebar-links a + a {
    margin-top: 0.5rem;
}

.sidebar-links img,
.sidebar-link img {
    margin-right: 0.5rem;
    vertical-align: middle;
    width: 50px;
}

.sidebar-box {
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* padding: 0.5rem; */
    /* border-radius: 0.5rem; */
    /* background-color: #f2f2f2; */
    /* background: linear-gradient(45deg, rgba(255, 160, 124, 0.5) 0%, rgba(255, 215, 101, 0.5) 100%); */
    font-size: 1.25rem;
}

.sidebar-link {
    display: block;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    /* background-color: #ad2943; */
    background-color: #a51f45;
    color: #fff;
    /* background-color: #ffe0b6;
    color: #000; */
    transition: 0.3s;
}

.sidebar-link:hover,
.sidebar-link:focus {
    background-color: #de3052;
    /* background-color: #e35253; */
}

.sidebar-link + .sidebar-link {
    background-color: #d03352;
}

.sidebar-link + .sidebar-link:hover,
.sidebar-link + .sidebar-link:focus {
    background-color: #e35253;
}

.sidebar-link-text {
    display: inline-block;
    /* margin-top: -0.35em; */
    vertical-align: middle;
    font-size: 20px;
    line-height: 1.1em;
}

.sidebar-link img + .sidebar-link-text {
    width: calc(100% - 50px - 1rem);
}

.sidebar-link .sub-title {
    margin: 0;
    font-size: 0.9rem;
}

main {
    /* display: none;*/
    /* margin: 0 auto 2rem; */
    float: left;
    font-size: 1rem;
    line-height: 1.75rem;
    width: calc(52rem - 300px);
    padding-right: 20px;
    /* max-width: 45rem; */


}

@media only screen and (max-width: 1300px) {
    main {
        float: none;
    }
}

/* @media only screen and (min-width: 1440px) {
    main {
        width: calc(52rem - 400px);
    }
} */

main ul {
    color: #000;
    padding: 0.75rem 1rem 0.75rem 1.75rem;
    border-radius: 0.5rem;
    background: linear-gradient(45deg, rgba(255, 160, 124, 0.5) 0%, rgba(255, 215, 101, 0.5) 100%);
    /* list-style-position: inside; */
    /* list-style: none; */
    font-size: 14px;
    line-height: 1rem;
    /* letter-spacing: -0.5px; */
}

main ul li {
    margin: 0 0 0.75rem 0 ;
}

.citation {
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 2px solid #ddd;
    color: rgb(37, 102, 187);
    font-size: 13px;
}

@media only screen and (max-width: 450px) {
    .citation {
        word-break: break-word;
    }
}

@media only screen and (max-width: 670px) {
    main ul {
        columns: 1;
    }
    main ul li:last-child {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 1000px) {
    main {
        margin-left: auto;
        margin-right: auto;
        padding-right: 0;
        width: 100%;
        max-width: 45rem;
        float: none;
    }
    aside {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 45rem;
        width: 100%;
        float: none;
    }
    .sidebar-links {
        display: block;
        width: 100%;
        clear: both;
    }
    /* .sidebar-links a {
        width: calc(50% - 1.5rem);
        float: left;
    }
    .sidebar-links a + a {
        margin-left: 1rem;
    } */
}